body {
  background-color: #EDE9E2;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.surrealismologo {
  width: 95px;
}


.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001; 
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}
header img {
  width: 95px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}

nav a:hover {
  color: #89A7B4;
  transition: all 0.2s;
}

.headerimagen {
  margin-top: 100px;
  text-align: left;
}

.headerimagen img {
  width: 100%; 

}


.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin-bottom: 50px;
  background-color: #EDE9E2; 
  font-weight: 100;
  width: 100vw;  
  min-height: 85vh;  
     	
}

.section_img {
  width: 45%;
  position: relative;
	
}

.section_img img {
    width: 90%;
	padding-left: 70px
}

.section_img1 {
  width: 45%;
  position: relative;
	
}

.section_img1 img {
  width: 90%;
  padding-right: 70px
}
.section_texto {
  width: 50%;
	text-align: left;
}

.section_texto1 {
  width: 50%;
  text-align: left; 	
}

.section_texto2 {
  width: 50%;
	text-align: left; 
}

.section_texto3 {
  width: 50%;
  text-align: right; 
}

.section_texto4 {
  width: 50%;
	  text-align: left; 	
}

.section_texto h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color:#A7B5BD;
  font-weight: 300;
  max-width: 70%
}

.section_texto1 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #835728;
	font-weight: 300;
		text-align: right; 
}
.section_texto2 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #D3C089;
	font-weight: 300
}

.section_texto3 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #C1711B;
	font-weight: 300
}
.section_texto4 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #706666;
  font-weight: 300
}

.section_texto p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  line-height: 1.6;

}
.section_texto1 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;  
  font-weight: 100;
  line-height: 1.6;
  text-align: right; 
}

.section_texto2 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  padding: 5px;
  line-height: 1.6;
}

.section_texto3 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  padding: 5px;
  line-height: 1.6;
  text-align: right; 
}

.section_texto4 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
	font-weight: 300;
	padding: 5px;
	line-height: 1.6;
}

.section_link {
  color: black;
  text-decoration: none;
}


.section.artistas, 
.section.blog {
  background-color: #A7B5BD; 
}


/*footer*/

footer {
  background-color: #A7B5BD; 
  padding: 40px;
  color: #000;
  font-family: Arial, sans-serif;
	border-top-right-radius: 100px; 
  border-top-left-radius: 0;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.footer-left h2 {
  font-size: 26px;
  font-family: 'Georgia', serif;
}

.footer-left p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
	padding-top: 10px
}

.footer-right p {
  font-size: 16px;
  margin-bottom: 10px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}


.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
  max-width: 400px; 
  padding: 20px;
  border-radius: 10px; 
 
}

.subscribe-form input[type="text"], 
.subscribe-form input[type="email"], 
.inputMensaje {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%; 
  font-size: 12px;
}

.inputMensaje {
  height: 60px; 
 
}

.subscribe-form button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background-color: #D3C089; 
  cursor: pointer;
  font-size: 14px;
  width: 100%; 
 
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.subscribe-form button:hover {
  background-color: lightgray; 
}

.footer-bottom p {
  margin: 0;
}

.social-icons a {
  color: #000;
  margin-right: 10px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #D3C089; 
}


/*nosotros*/

.contenedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 130px;
}

.imagen-arco4 img {
  display: block;
  width: 115%;
  object-fit: cover;
}

.titulo-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 50px;
  margin-left: 80px;
  font-family: "Josefin Sans", sans-serif;
  color: #A7B5BD;
  font-weight: 100;
}

.seccion {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.imagen-contenedor {
  margin-left: 5px;
}

.imagen-contenedor img {
  width: 100%;
}

.parrafonosotros {
  max-width: 600px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  border-left: 3px solid #A7B5BD;
  padding: 0 30px 12px 40px;
  text-align: left;
}

.paises {
  font-size: 40px;
  text-align: center;
  margin: 70px 50px 100px;
  font-family: "Bebas Neue", sans-serif;
}

.surrealismo_lista {
  display: flex;
  flex-flow: wrap;
  margin: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

.surrealismo_lista_img {
  width: 20%;
  text-align: center;
}

.surrealismo_lista_p {
  width: 70%;
}

.surrealismo_lista img {
  width: 100px;
  text-align: center;
}


/*artistas*/
.seccion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 50px;
  font-weight: 300;
}

.titulo-vertical1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg); 
  margin-right: 20px;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  color: #835728; 
}

.imagen-arco5 img {
  width: 100%;
 
}

.parrafo3 {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  color: #333;
  line-height: 1.8;
  margin-right: 70px;
  text-align: left;
  font-weight: 300;
}

.contenedor1, .contenedor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 120px; 
  padding: 20px;
}

.artista-contenedor img, .artista-contenedor1 img {
  width: 100%; 
  max-width: 450px; 
  height: auto;
  margin-bottom: 20px; 
}

.texto-contenedor, .texto-contenedor1 {
  max-width: 600px; 
  text-align: center;
  padding: 0 20px;
}

.artistatitulo1, .artistatitulo2 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  color: #835728;
  margin-bottom: 10px;
  font-weight: 300;
}

.parrafo1 {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  line-height: 1.8; 
  padding: 7px 0;
  font-weight: 300;
}


/*artista*/
.floating-shape {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(200, 100, 150, 0.4);
  border-radius: 50%;
  animation: floatShape 7s ease-in-out infinite alternate;
  z-index: -1;
}

.floating-shape:nth-child(2) {
  width: 150px;
  height: 150px;
  top: 50px;
  left: 80%;
  animation-duration: 9s;
}

.floating-shape:nth-child(3) {
  width: 75px;
  height: 75px;
  top: 150px;
  left: 20%;
  animation-duration: 6s;
}

@keyframes floatShape {
  0%, 100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-15px) rotate(-3deg);
  }
}


.floating-eye {
  position: absolute;
  top: 60%;
  left: 10%;
  width: 120px;
  height: 60px;
  background-color: #fff;
  border: 5px solid #333;
  border-radius: 50%;
  animation: eyeMove 12s ease-in-out infinite alternate;
}

.floating-eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #000;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes eyeMove {
  0%, 100% {
    transform: translateY(0) translateX(0);
  }
  25% {
    transform: translateY(-20px) translateX(10px);
  }
  75% {
    transform: translateY(15px) translateX(-10px);
  }
}


.melting-clock {
  position: absolute;
  top: 20%;
  left: 70%;
  width: 150px;
  height: 80px;
  background-color: #ffdf91;
  border: 3px solid #333;
  border-radius: 50%;
  animation: melt 18s linear infinite;
}

.melting-clock::before {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  width: 20px;
  height: 40px;
  background-color: #333;
  transform: translateX(-50%);
}

@keyframes melt {
  0% {
    transform: rotate(0deg) scaleY(1);
  }
  50% {
    transform: rotate(15deg) scaleY(1.1);
  }
  100% {
    transform: rotate(0deg) scaleY(1);
  }
}

.floating-shape::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
  transform: translate(-50%, -50%);
  animation: blink 3s ease-in-out infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.4;
  }
}
.tituloandre {
  padding-top: 90px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 300%;
  color: #835728;
}

.hola {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.fotoandre {
  width: 40%; 
  margin-bottom: 40px; 
}

.presentacion.nosotros {
	display: flex;
	justify-content: center;
	flex-direction: column;
   	align-items: center;
	width: 50%;
}

.parrafo  { 
	padding: 0 30px 12px 90px;
	text-align: left;
	align-items: center;
	border-left: 3px solid #835728; 
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
     color: black;
    line-height: 1.8; 
    font-weight: 300;
    max-width: 600px;
	
}
.artista-contenedor img {
  transition: transform 0.5s ease; 
}

.artista-contenedor img:hover {
  transform: scale(1.1); 
}

.artista-contenedor1 img {
	transition: transform 0.5s ease; 
}

.artista-contenedor1 img:hover {
	transform: scale(1.1); 
}



/*galeria*/
.titulo1 {
  padding-top: 120px;
  padding-bottom: 0px;
  text-align: center; 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 300%;
  color: #D3C089;
  justify-content: center;
}
.contenedorcarrusel {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden; 
}

.carrusel {
  width: 90%;
  display: flex;
  scroll-behavior: smooth;
  overflow-x: auto; 
  gap: 10px; 
  padding-bottom: 10px;
}

.carrusel-item {
  flex: 0 0 25%; 
  height: 400px;
  background-color: #f6f2e8;
  border: 1px solid #D3C089;
  border-radius: 15px;
  padding: 10px;
  transition: transform 0.3s ease;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.carrusel-item img {
  width: 100%;
  height: auto; 
  max-height: 60%; 
  object-fit: cover; 
  border-radius: 10px;
}

.carrusel-item h2 {
  font-size: 15px; 
  color: black;
  margin: 10px;
  flex-grow: 2; 
  display: flex;
  align-items: center; 
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
}

.carrusel-item p {
  font-size: 15px; 
  color: black;
  flex-grow: 2; 
  display: flex;
  align-items: center; 
  font-family: "Bebas Neue", sans-serif;
  justify-content: center;
}


/*BLOG*/

.titulo3 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 300%;
  color: #C1711B;
}


.contenedor3 {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-align: left;
	
  
}

.imagen-arco {
  display: flex;
  align-items: flex-start;
  max-width: 1300px; 
}


.imagen-arco img {
  max-width: 40%; 
  margin-right: 50px;
}


.parrafo1  {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  width: 100%;                 
  margin-right: 50px; 
  font-weight: 300;
	text-align: left;

}

.texto-arco p {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  margin-bottom: 30px;
  padding-left: 40px; 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
 text-align: left;
	
}


.contenedor4 {
  display: flex;
  align-items: center;        
  justify-content: center; 
  margin: 0 20px;
  padding: 0 8px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: left;         
  padding-top: 110px; 
  padding-bottom: 170px

}

.imagen-arco1 {
  display: flex;
  flex-direction: row;        
  align-items: center;       
  justify-content: flex-start;
  width: 90%;                
}

.parrafo2 {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  width: 100%;                 
  margin-right: 50px; 
  font-weight: 300;
	text-align: left;
}

.imagen-arco1 img {
  max-width: 40%;            
  margin-left: 20px;  
  margin-right: 5px
}


.contenedor5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
	text-align: left;
 
}

.imagen-arco img {
  max-width: 40%;           
  height: auto;
 
}

.texto-arco1 p {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  margin-bottom: 30px;
  padding-left: 40px; 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
   text-align: left;
}



/*contacto*/
.titulo {
  padding-top: 80px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 3em;
  color: #706666;
}


.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin-top: -20px; 
  margin-bottom: 40px;
  gap: 40px
  
}

.form-container {
  width: 60%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  box-sizing: border-box;
}

.form-caja {
  width: 100%;
  background-color: #EDE9E2;
  border: 2px solid #706666;
  padding: 30px 20px;
  border-radius: 15px;
  box-sizing: border-box;
}

.boton-caja {
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 0 20px 9px #A7B5BD;
  border-radius: 30px;
  margin: 20px auto;
  overflow: hidden;
}

.toggle-btn {
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  color: black;
  font-size: 16px;
  text-align: center;
  z-index: 1;
  position: relative;
  font-family: "Montserrat", sans-serif;
}
#btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #A7B5BD;
  border-radius: 30px;
  transition: 0.4s;
  z-index: 0;
}
.input-group {
  width: 90%;
  color: black;
  box-sizing: border-box;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #999;
  background: transparent;
  color: black;
}

.submit-btn {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #A7B5BD;
  border: 0;
  border-radius: 30px;
  color: black;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}

span {
  color: #706666;
  font-size: 13px;
  margin-left: 5px;
  font-family: "Josefin Sans", sans-serif;
}

.check-box {
  margin: 10px 5px 10px 0;
  accent-color: #A7B5BD;
}

#register:target ~ .boton-caja #btn {
  left: 50%;
}

#login:target ~ .boton-caja #btn {
  left: 0;
}
#register {
  display: none;
}

#register:target {
  display: block;
}

#login:target {
  display: block;
}

#login:target ~ #register {
  display: none;
}

#register:target ~ #login {
  display: none;
}

.gallery-container {
  width: 25%;
  height: 100%; 
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 150px; 
  grid-gap: 10px;
  width: 100%; 
  height: 100%;
  animation: scrollGridVertical 10s linear infinite;
}

.expert-item:nth-child(1) {
  grid-row: span 2; 
}

.expert-item:nth-child(5) {
  grid-row: span 2; 
}
.expert-item:nth-child(7) {
  grid-row: span 2;
}
.expert-item:nth-child(11) {
  grid-row: span 2; 
}
.expert-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}


@keyframes scrollGridVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }

}


@media (max-width: 768px) {

  .alert {
    max-width: 90%;
  }

  nav {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerimagen img {
    padding-bottom: 60px;
  }
  .section {
    flex-direction: column;
    padding: 30px 10px;
    min-height: auto;
  }

  .section_img, .section_img1 {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .section_img img, .section_img1 img {
    width: 100%;
    padding: 0;
  }

  .section_texto, .section_texto1, .section_texto2, .section_texto3, .section_texto4 {
    width: 100%;
    text-align: center;
    padding: 0 10px;
  }

  .section_texto h2, .section_texto1 h2, .section_texto2 h2, .section_texto3 h2, .section_texto4 h2 {
    font-size: 32px;
    max-width: 100%;
  }

  .section_texto p, .section_texto1 p, .section_texto2 p, .section_texto3 p, .section_texto4 p {
    font-size: 16px;
    text-align: center;
    padding: 0 10px;
  }

  /*FOOTER*/

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-right {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-left h2 {
    font-size: 20px;
  }

  .subscribe-form input, .subscribe-form button {
    font-size: 14px;
    padding: 8px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .social-icons a {
    margin-right: 5px;
  }


  /*nosotros*/


  .imagen-arco4 img {
    width: 100%; 
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px
  }

  .container {
    flex-direction: column; 
    
  }

  .titulo-vertical {
    font-size: 40px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .paises {
    font-size: 28px; 
    margin: 30px 20px 50px;
  }

  .surrealismo_lista {
    flex-direction:inherit;
    margin: 3px; 
  }
  


  /*artistas*/
  
    .seccion3 {
      flex-direction: column;
      padding: 60px 20px; 
    }
  
    .titulo-vertical1 {
      font-size: 40px; 
      margin-right: 0;
      text-align: center; 
    }
  
    .parrafo3 {
      font-size: 14px; 
      margin-right: 0;
      text-align: center; 
      line-height: 1.6; 
      padding: 0 20px; 
    }
  
    .contenedor1, .contenedor2 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px; 
    }
  
    .artista-contenedor img, .artista-contenedor1 img {
      width: 100%; 
      max-width: 100%; 
      margin-bottom: 20px; 
    }
  
    .texto-contenedor, .texto-contenedor1 {
      max-width: 100%; 
      text-align: center; 
      padding: 0 20px; 
    }
  
    .artistatitulo1, .artistatitulo2 {
      font-size: 36px;
      padding: 0;
      text-align: center; 
      margin-bottom: 20px;
    }
  
    .parrafo1 {
      font-size: 14px; 
      line-height: 1.6; 
      text-align: center; 
      padding: 0 20px; 
    }

    .parrafo3 {
     
      font-size: 14px; 
      line-height: 1.6; 
      text-align: center;
      padding: 0 20px; 
    }
  

  /*artista*/
  .fotoandre {
    width: 100%; 
    margin-bottom: 40px; 
  }

   /*galeria*/
   .contenedorcarrusel {
    width: 100%;
  }
  .carrusel {
    width: 90%; 
  }
  .carrusel-item {
    flex: 0 0 100%;
    height: 500px;
  }
  

   /*blog*/
   .parrafo4 {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
  }

  .titulo3 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 200%;
  }

  .contenedor3 {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }

  .imagen-arco {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0;
  }

  .imagen-arco img {
    max-width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .texto-arco p {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .contenedor4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .imagen-arco1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .parrafo2 {
    font-size: 14px;
    margin-right: 0;
    text-align: center;
  }

  .imagen-arco1 img {
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contenedor5 {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .texto-arco1 p {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
  }

  
  /*menu hambur*/
  .menu-toggle {
    display: block;
  }

  .nav-links {
    display: none; 
    flex-direction: column;
    position: absolute;
    top: 60px; 
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
  }

  
  .nav-links.active {
    display: flex;
  }

  .nav-links a {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
/*contacto*/
.content-container {
  flex-direction: column; 
  align-items: center; 
  gap: 40px; 
  margin-bottom: 20px; 
  margin-top: 20px; 
}

.form-container {
  width: 100%;
}

.gallery-container {
  width: 100%; 
}
}