body {
  background-color: #EDE9E2;
  margin: 0;
  padding: 0;
}

/* Header */

header {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


header img {
  width: 95px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav a {
  text-decoration: none;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
}

nav a:hover {
  color: #89A7B4;
  transition: all 0.2s;
}

.headerimagen {
  margin-top: 100px;
  text-align: left;
}

.headerimagen img {
  width: 100%; 

}


.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 20px;
  margin-bottom: 50px;
  background-color: #EDE9E2; 
  font-weight: 100;
  width: 100vw;  
  min-height: 85vh;   
	
           	
}

.section_img {
  width: 45%;
  position: relative;
	
}

.section_img img {
    width: 90%;
	padding-left: 70px
}

.section_img1 {
  width: 45%;
  position: relative;
	
}

.section_img1 img {
  width: 90%;
  padding-right: 70px
}
.section_texto {
  width: 50%;
	text-align: left;
}

.section_texto1 {
  width: 50%;
  text-align: left; 	
}

.section_texto2 {
  width: 50%;
	text-align: left; 
}

.section_texto3 {
  width: 50%;
  text-align: right; 
}

.section_texto4 {
  width: 50%;
	  text-align: left; 	
}

.section_texto h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color:#A7B5BD;
  font-weight: 300;
  max-width: 70%
}

.section_texto1 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #835728;
	font-weight: 300;
		text-align: right; 
}
.section_texto2 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #D3C089;
	font-weight: 300
}

.section_texto3 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #C1711B;
	font-weight: 300
}
.section_texto4 h2 {
  font-size: 45px;
  font-family: "Bebas Neue", sans-serif;
  color: #706666;
  font-weight: 300
}

.section_texto p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  line-height: 1.6;

}
.section_texto1 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;  
  font-weight: 100;
  line-height: 1.6;
  text-align: right; 
}

.section_texto2 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  padding: 5px;
  line-height: 1.6;
}

.section_texto3 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 100;
  padding: 5px;
  line-height: 1.6;
  text-align: right; 
}

.section_texto4 p {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: black;
	font-weight: 300;
	padding: 5px;
	line-height: 1.6;
}

.section_link {
  color: black;
  text-decoration: none;
}


.section.artistas, 
.section.blog {
  background-color: #A7B5BD; 
}

/*footer*/

footer {
  background-color: #A7B5BD; 
  padding: 40px;
  color: #000;
  font-family: Arial, sans-serif;
	border-top-right-radius: 100px; 
  border-top-left-radius: 0;
  padding-bottom: 50px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.footer-left h2 {
  font-size: 26px;
  font-family: 'Georgia', serif;
}

.footer-left p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
	padding-top: 10px
}

.footer-right p {
  font-size: 16px;
  margin-bottom: 10px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}


.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center; 
  width: 100%; 
  max-width: 400px; 
  padding: 20px;
  border-radius: 10px; 
 
}

.subscribe-form input[type="text"], 
.subscribe-form input[type="email"], 
.inputMensaje {
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  width: 100%; 
  font-size: 12px;
}

.inputMensaje {
  height: 60px; 
 
}

.subscribe-form button {
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  background-color: #D3C089; 
  cursor: pointer;
  font-size: 14px;
  width: 100%; 
 
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.subscribe-form button:hover {
  background-color: lightgray; 
}

.footer-bottom p {
  margin: 0;
}

.social-icons a {
  color: #000;
  margin-right: 10px;
  font-size: 18px;
}

.social-icons a:hover {
  color: #D3C089; 
}


/*nosotros*/

.contenedor {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 50px;
  padding-top: 130px;
}

.imagen-arco4 img {
  display: block;
  width: 115%;
  object-fit: cover;
}

.titulo-vertical {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 50px;
  margin-left: 80px;
  font-family: "Josefin Sans", sans-serif;
  color: #A7B5BD;
  font-weight: 100;
}

.seccion {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.imagen-contenedor {
  margin-left: 5px;
}

.imagen-contenedor img {
  width: 100%;
}

.parrafonosotros {
  max-width: 600px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  border-left: 3px solid #A7B5BD;
  padding: 0 30px 12px 40px;
  text-align: left;
}

.paises {
  font-size: 40px;
  text-align: center;
  margin: 70px 50px 100px;
  font-family: "Bebas Neue", sans-serif;
}

.surrealismo_lista {
  display: flex;
  flex-flow: wrap;
  margin: 50px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  text-align: left;
}

.surrealismo_lista_img {
  width: 20%;
  text-align: center;
}

.surrealismo_lista_p {
  width: 70%;
}

.surrealismo_lista img {
  width: 100px;
  text-align: center;
}


/*artistas*/
.seccion3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 110px 50px;
  font-weight: 300;
}

.titulo-vertical1 {
  writing-mode: vertical-rl;
  transform: rotate(180deg); 
  margin-right: 20px;
  font-size: 60px;
  font-family: "Josefin Sans", sans-serif;
  color: #835728; 
}

.imagen-arco5 img {
  width: 100%;
 
}

.parrafo3 {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  color: #333;
  line-height: 1.8;
  margin-right: 70px;
  text-align: left;
  font-weight: 300;
}

.contenedor1, .contenedor2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 120px; 
  padding: 20px;
}

.artista-contenedor img, .artista-contenedor1 img {
  width: 100%; 
  max-width: 450px; 
  height: auto;
  margin-bottom: 20px; 
}

.texto-contenedor, .texto-contenedor1 {
  max-width: 600px; 
  text-align: center;
  padding: 0 20px;
}

.artistatitulo1, .artistatitulo2 {
  font-size: 48px;
  font-family: "Josefin Sans", sans-serif;
  color: #835728;
  margin-bottom: 10px;
  font-weight: 300;
}

.parrafo1 {
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  color: black;
  line-height: 1.8; 
  padding: 7px 0;
  font-weight: 300;
}


/*artista*/

.tituloandre {
  padding-top: 90px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 300%;
  color: #835728;
}

.hola {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.fotoandre {
  width: 40%; 
  margin-bottom: 40px; 
}

.presentacion.nosotros {
	display: flex;
	justify-content: center;
	flex-direction: column;
   	align-items: center;
	width: 50%;
}

.parrafo  { 
	padding: 0 30px 12px 90px;
	text-align: left;
	align-items: center;
	border-left: 3px solid #835728; 
    font-size: 16px;
    font-family: "Bebas Neue", sans-serif;
     color: black;
    line-height: 1.8; 
    font-weight: 300;
    max-width: 600px;
	
}
.artista-contenedor img {
  transition: transform 0.5s ease; 
}

.artista-contenedor img:hover {
  transform: scale(1.1); 
}

.artista-contenedor1 img {
	transition: transform 0.5s ease; 
}

.artista-contenedor1 img:hover {
	transform: scale(1.1); 
}



/*galeria*/

.titulo1 {
	padding-top: 120px;
	padding-bottom: 0px;
	text-align: center; 
    font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 300%;
	color: #D3C089;
	justify-content: center
}

.contenedorcarrusel{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 90px;
	padding-bottom: 120px;
	font-family: "Bebas Neue", sans-serif;
	font-weight: 300;
	
   
}

.carrusel {
    display: flex;
    overflow-x: auto; 
    scroll-behavior: smooth; 
    width: 100%;
    position: relative;
}


.carrusel-item {
    flex: 0 0 25%; 
    margin: 0 10px;
    text-align: center;
    background-color: #f6f2e8;
    border: 1px solid #D3C089;
    border-radius: 15px;
    padding: 10px;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.carrusel-item img {
    width: 100%;
    height: auto; 
    max-height: 60%; 
    object-fit: cover; 
	border-radius: 10px
}

.carrusel-item h2 {
    font-size: 15px; 
    color: black;
    margin: 10px;
    flex-grow: 2; 
    display: flex;
    align-items: center; 
	font-family: "Bebas Neue", sans-serif;
	justify-content: center;
  
}
.carrusel-item p {
    font-size: 15px; 
    color: black;
    flex-grow: 2; 
    display: flex;
    align-items: center; 
	font-family: "Bebas Neue", sans-serif;
	justify-content: center;
  
}


.botoncarrusel {
    background-color: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10; 
}

.prev {
    left: -60px;
}

.next {
    right: -60px;
}

.botoncarrusel:hover {
    color: #c1711b;
}


/*BLOG*/

.titulo3 {
  padding-top: 100px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 300;
  font-size: 300%;
  color: #C1711B;
}


.contenedor3 {
  display: flex;
  flex-direction: column;
  align-items: center;
	text-align: left;
	
  
}

.imagen-arco {
  display: flex;
  align-items: flex-start;
  max-width: 1300px; 
}


.imagen-arco img {
  max-width: 40%; 
  margin-right: 50px;
}


.parrafo1  {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  width: 100%;                 
  margin-right: 50px; 
  font-weight: 300;
	text-align: left;

}

.texto-arco p {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  margin-bottom: 30px;
  padding-left: 40px; 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
 text-align: left;
	
}


.contenedor4 {
  display: flex;
  align-items: center;        
  justify-content: center; 
  margin: 0 20px;
  padding: 0 8px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-align: left;         
  padding-top: 110px; 
  padding-bottom: 170px

}

.imagen-arco1 {
  display: flex;
  flex-direction: row;        
  align-items: center;       
  justify-content: flex-start;
  width: 90%;                
}

.parrafo2 {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  width: 100%;                 
  margin-right: 50px; 
  font-weight: 300;
	text-align: left;
}

.imagen-arco1 img {
  max-width: 40%;            
  margin-left: 20px;  
  margin-right: 5px
}


.contenedor5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 30px;
	text-align: left;
 
}

.imagen-arco img {
  max-width: 40%;           
  height: auto;
 
}

.texto-arco1 p {
  font-size: 16px;
  line-height: 1.8;
  color: black;
  margin-bottom: 30px;
  padding-left: 40px; 
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
   text-align: left;
}



/*contacto*/

.titulo {
	padding-top: 100px;
	padding-bottom: 0px;
	text-align: center; 
	font-family: "Bebas Neue", sans-serif;
	font-weight: 300;
	font-size: 300%;
	color: #706666;
}

.hero{
	height:100%;
	width: 100%;
	padding-top: 0px
}

.form-caja{
	width: 80px;
	height: 480px;
	position: relative;
	margin: 6% auto;
	background-color: #EDE9E2;
	border: 2px solid #706666;
	padding: 5px;
	overflow: hidden;
	border-radius: 15px;
	padding-top: 5px;
}

.boton-caja{
	width: 280px;
	height: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #A7B5BD;
	border-radius: 30px;
	display: flex;
	margin: 45px;
}

.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	color: black;
	
}

#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 140px;
	height: 100%;
	background-color: #A7B5BD;
	border-radius: 30px;
	transition: .5s;
}

span{color: black;
font-size: 13px;
bottom: 68px;
position: absolute;
font-family: "Josefin Sans", sans-serif;}

.input-group{
	top:180px;
	position:absolute;
	width: 280px;
	transition: .5s;
	color: black;
}

.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
	color: black
}

.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background-color: #A7B5BD;
	border: 0;
	outline: none;
	border-radius: 30px;
	color: black
}

.check-box{
	margin: 30px 10px 30px 0;
}

#login{
	left:50px;
}

#register{
	left:450px;
}

.content-container {
  display: flex;
  align-items: stretch; 
  gap: 0px; 
  width: 100%;
  height: 60vh;
  padding: 5px;
  padding-bottom: 50px;
  border-radius: 15px;
}


.form-container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px; 
  border-radius: 10px;
}

.form-caja {
  width: 40%;
  height: 100%; 
  border: 2px solid #706666;
  padding: 10px;
  border-radius: 15px;
}

.gallery-container {
  width: 35%;
  height: 100%; 
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-auto-rows: 150px; 
  grid-gap: 10px;
  width: 100%; 
  height: 100%;
  animation: scrollGridVertical 10s linear infinite;
}

.expert-item:nth-child(1) {
  grid-row: span 2; 
}

.expert-item:nth-child(5) {
  grid-row: span 2; 
}
.expert-item:nth-child(7) {
  grid-row: span 2;
}
.expert-item:nth-child(11) {
  grid-row: span 2; 
}


.expert-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
}

@keyframes scrollGridVertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}


@media (max-width: 768px) {

  .alert {
    max-width: 90%;
  }

  nav {
    width: 90%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .headerimagen img {
    padding-bottom: 60px;
  }

  .section_img img {
    padding-left: 0;
  }

  .section_texto,
  .section_texto1,
  .section_texto2,
  .section_texto3,
  .section_texto4 {
    width: 100%;
    text-align: center;
  }

  .section_img img,
  .section_img1 img {
    width: 100%;
    padding: 0;
  }

  .section h2 {
    font-size: 30px;
  }

  .section_texto p {
    font-size: 14px;
  }

  /*FOOTER*/

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left, .footer-right {
    width: 100%;
    margin-bottom: 15px;
  }

  .footer-left h2 {
    font-size: 20px;
  }

  .subscribe-form input, .subscribe-form button {
    font-size: 14px;
    padding: 8px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }

  .social-icons a {
    margin-right: 5px;
  }


  /*nosotros*/


  .imagen-arco4 img {
    width: 100%; 
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 40px
  }

  .container {
    flex-direction: column; 
    
  }

  .titulo-vertical {
    font-size: 40px; 
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .paises {
    font-size: 28px; 
    margin: 30px 20px 50px;
  }

  .surrealismo_lista {
    flex-direction:inherit;
    margin: 3px; 
  }
  


  /*artistas*/
  
    .seccion3 {
      flex-direction: column;
      padding: 60px 20px; /* Reduce padding en pantallas pequeñas */
    }
  
    .titulo-vertical1 {
      font-size: 40px; /* Reduce el tamaño del título */
      margin-right: 0;
      text-align: center; /* Alinea el título al centro */
    }
  
    .parrafo3 {
      font-size: 14px; /* Reduce el tamaño del texto */
      margin-right: 0;
      text-align: center; /* Centra el texto */
      line-height: 1.6; /* Ajusta el interlineado */
      padding: 0 20px; /* Ajusta padding para pantallas pequeñas */
    }
  
    .contenedor1, .contenedor2 {
      flex-direction: column; /* Coloca las imágenes sobre el texto */
      align-items: center;
      margin-bottom: 50px; /* Reduce el margen inferior */
    }
  
    .artista-contenedor img, .artista-contenedor1 img {
      width: 100%; /* Asegura que las imágenes ocupen todo el ancho disponible */
      max-width: 100%; /* Asegura que no excedan el ancho de la pantalla */
      margin-bottom: 20px; /* Espacio debajo de las imágenes */
    }
  
    .texto-contenedor, .texto-contenedor1 {
      max-width: 100%; /* El texto ocupa todo el ancho disponible */
      text-align: center; /* Centra el texto */
      padding: 0 20px; /* Añade algo de padding lateral */
    }
  
    .artistatitulo1, .artistatitulo2 {
      font-size: 36px; /* Reduce el tamaño del título */
      padding: 0;
      text-align: center; /* Alinea el título al centro */
      margin-bottom: 20px;
    }
  
    .parrafo1 {
      font-size: 14px; /* Reduce el tamaño del texto */
      line-height: 1.6; /* Ajusta el interlineado */
      text-align: center; /* Centra el texto */
      padding: 0 20px; /* Ajusta padding para pantallas pequeñas */
    }

    .parrafo3 {
     
      font-size: 14px; /* Reduce el tamaño del texto */
      line-height: 1.6; /* Ajusta el interlineado */
      text-align: center; /* Centra el texto */
      padding: 0 20px; /* Ajusta padding para pantallas pequeñas */
    }
  

  /*artista*/
  .fotoandre {
    width: 100%; 
    margin-bottom: 40px; 
  }

   /*galeria*/
   .contenedorcarrusel {
    width: 100%;
  }
  .carrusel {
    width: 90%; 
  }
  .carrusel-item {
    flex: 0 0 100%;
    height: 500px;
  }
  .botoncarrusel {
    font-size: 30px; 
  }
  .prev {
    left: -10px;
  }
  .next {
    right: -10px;
  }

   /*blog*/
   .parrafo4 {
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    padding: 0 20px;
  }

  .titulo3 {
    padding-top: 100px;
    padding-bottom: 10px;
    font-size: 200%;
  }

  .contenedor3 {
    flex-direction: column;
    text-align: center;
    padding: 0 20px;
  }

  .imagen-arco {
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    margin: 0;
  }

  .imagen-arco img {
    max-width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .texto-arco p {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .contenedor4 {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .imagen-arco1 {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .parrafo2 {
    font-size: 14px;
    margin-right: 0;
    text-align: center;
  }

  .imagen-arco1 img {
    max-width: 80%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .contenedor5 {
    padding-bottom: 50px;
    padding-top: 30px;
  }

  .texto-arco1 p {
    font-size: 14px;
    padding-left: 0;
    text-align: center;
  }

  .content-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .form-caja {
    width: 95%;
    height: auto;
    padding: 20px;
    margin: 10px auto;
    display: block;
  }

  .gallery-container {
    width: 100%;
    margin-top: 20px;
  }

  .gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 150px;
  }
}